body {
    background-color: #aec3b0;
}
.pagebuttonrow{
    align-content: center;
}

.reedbutton{
    
    display: flex;
    justify-content: end;
    align-content: center;

}
.reedheader{
    display: flex;
    justify-content: end;

}
.headers{

}
.card {
    width: 100%;
    padding: 9px 20px 9px 20px;
    margin-bottom: 0px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #dfdfdf;
    box-sizing: border-box;
    height: 100% !important;
}
.Img {
    float: left;
    width:  100%;
    height: 100%;
    
}

.welcome{
    width:40%;
    display: flex;
    justify-content: center;
}