body {
    background-color: #aec3b0;
}
.pagebuttonrow{
    align-content: center;
}
.reedbutton{
    
    display: flex;
    justify-content: end;
    align-content: center;

}
.reedheader{
    display: flex;
    justify-content: end;

}
.card {
    width: 100%;
    margin-bottom: 0px;
    background: #ffffff;
    box-sizing: border-box;
    height: 100% !important;
    padding: 9px 20px 9px 20px;
    box-shadow: 1px 1px 1px #dfdfdf;
}
.Img {
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
}
.iMg {
    float: left;
    width:  100%;
    height: 100%;
}
.welcome{
    width: 40%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.middle {
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}
p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 120%;
}
h5{
    font-family: "Lucida Handwriting", Helvetica, sans-serif;
    font-size: 140%;
}

h1{
    font-family: "Papyrus", Helvetica, sans-serif;
}

h2{
    font-family: "Papyrus", Helvetica, sans-serif;
}
.carosol {
}
img {
    
    max-height: 400px;
max-width: 400px;
width:  400px;
height: 400px;
  }

.markbuttn{
    background-color: #598392;
}
.reedbuttn{
    background-color: #598392;
}